---
import PostCard from '../components/PostCard.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts')
console.log(posts);
---
<Layout title="Redes Sociales">

    <h1>Blog</h1>
    <div class="grid">
        {posts.map((post) => (
        <PostCard title={post.data.title} description={post.data.description} url={post.slug}/>
        ))}
</Layout>


<style>
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        gap: 1rem;
        margin: 0 auto;
        max-width: 500px;
        justify-content: center;
    }
</style>