---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Redes Sociales">
<Header/>
<body>

    <h1>Redes Sociales</h1>
</body>
<Footer/>
</Layout>


<style>

</style>