---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Sobre Mi">
    <Header/>
    <body>
        <!--Primer cuadro de texto -->
        <div class="container">
            <img class="/fotoperfil.png" src="/images/fotoperfil.png" alt="David M谩rquez"  />
            <div class="intro">
                <h1>Hola, soy David M谩rquez</h1>
                <p>Desarrollador web y amante de la tecnolog铆a.</p>
                <p>Me apasiona aprender y compartir conocimientos sobre programaci贸n y desarrollo web.</p>
                <p>Esta es mi primera Web, en este sitio encontrar谩s informaci贸n sobre mis proyectos, cursos y redes sociales.</p>
        </div>
    </div>
    
    <!--Segundo cuadro de texto -->
    <div class="container">
        <div class="estudios">
            <h2>Estudios</h2>
            <p>T茅cnico superior en <b>Desarrollo de Aplicaciones Web</b>en <b>Jobie FP, Madrid</b>. Actualmete estoy realizando las pr谩cticas en la empresa: <b>CodeNode.</b></p>
            <p>Bachillerato de Ciencias en: <b>IES A Xunqueira II</b> (2015-2017).</p>
    </div>
</div>

</body>
<Footer/>
</Layout>






<style>
    body{
        background-color: #f0f0f0;
    }

.fotoPerfil{
    width: 150px;
    height: 200px;
}
.container{
    display: flex;
    text-align: left;
    gap: 20px; /*Espacio entre la foto y el texto*/
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    border: 3px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}
.estudios p {
    text-indent: 10px;
}
.estudios h2{
    text-align: center;
    margin-top: auto;
    }
    /*Para tablets*/
@media (max-width: 768px) {
  .contenedor-cursos {
    grid-template-columns: 1fr; /* Una sola columna en tablets */
  }
}

/*Para moviles*/
@media (max-width: 480px) {
  .contenedor-cursos {
    grid-template-columns: 1fr; /* Una sola columna en m贸viles */
  }

  .columna-en-curso,
  .columna-completados {
    padding: 15px; /* Reducir el padding para m贸viles */
  }

  .curso {
    padding: 8px; /* Reducir el padding para m贸viles */
  }
}
</style>