---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Sobre Mi">
    <Header/>
    <img src="/images/fotoperfil.png" width="150px" alt="David Márquez" id="background" />
    <div class="container">
        <h1>Hola, soy David Márquez</h1>
        <p>Desarrollador web y amante de la tecnología.</p>
        <p>Me apasiona aprender y compartir conocimientos sobre programación y desarrollo web.</p>
        <p>En este sitio encontrarás información sobre mis proyectos, cursos y redes sociales.</p>
    </div>

</Layout>