---

---
<header>
    <div class="cabeza">
        <h1>Bienvenido a mi web </h1>
        <nav>
         <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobreMi">Sobre Mi</a></li>
            <li><a href="/cursos">Cursos</a></li>
            <li><a href="/redesSociales">Redes Sociales</a></li>
            </ul>
         </nav>
    </div>
   
</header>

<style>
h1{
border:3px solid black;
padding: 10px;
}
.cabeza {
    text-align: center;
    padding: 10px;
    background-color: #6a6e72;

}
li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;

}


</style>