---

---
<body>
	<h1>Portfolio David Márquez</h1>
	<p>Haz clicl en la imagen para ir a mi Web.</p>
	<a href="/sobreMi">
		<img src="/programador_martillo.jpg" alt="Programador con martillo" width="600">
	</a>
	
</body>



<style>
body{
	text-align: center;
}
a:hover{
	transform: scale(1.1); /* Aumenta ligeramente el tamaño */
	cursor: pointer;
}
img{
	margin-bottom: 30px;
}
/*Para tablets*/
@media (max-width: 768px) {
  .contenedor-cursos {
    grid-template-columns: 1fr; /* Una sola columna en tablets */
  }
}

/*Para moviles*/
@media (max-width: 480px) {
  .contenedor-cursos {
    grid-template-columns: 1fr; /* Una sola columna en móviles */
  }

  .columna-en-curso,
  .columna-completados {
    padding: 15px; /* Reducir el padding para móviles */
  }

  .curso {
    padding: 8px; /* Reducir el padding para móviles */
  }
}
</style>